@model FIWAREHub.Models.WebModels.ViewModels.ProbabilitiesViewModel

@{
    Layout = "_PlainLayout";
}

<div id="container" class="container">
    <div class="row">
        <div class="col-12">

            <form id="probabilitiesForm" name="probabilitiesForm" asp-action="ProbabilitiesResults" asp-controller="Graphs">
                <label asp-for="States"></label>
                <select name="state" class="form-control cstm-select" id="stateSelect" required>
                    <option disabled selected value="0"> -- select an option -- </option>
                    @foreach (var state in Model.States)
                    {
                        <option value="@state">@(state == "CA" ? "California" : "Texas")</option>
                    }
                </select>

                <label for="Cities">Cities</label>
                <select class="form-control" name="City" id="Cities" disabled></select>

                <label for="Streets">Streets</label>
                <select class="form-control" name="street" id="Streets" disabled></select>
                
                <label for="Quarters">Accident Severity</label>
                <select class="form-control cstm-select" name="quarter" id="AccidentSeverities">
                    <option disabled selected value="0"> -- select an option -- </option>
                    <option value="1">Low</option>
                    <option value="2">Moderate</option>
                    <option value="3">Heavy</option>
                    <option value="4">Severe</option>
                </select>
                
                <label for="Quarters">Quarters</label>
                <select class="form-control cstm-select" name="quarter" id="Quarters">
                    <option disabled selected value="0"> -- select an option -- </option>
                    <option value="1">Quarter 1</option>
                    <option value="2">Quarter 2</option>
                    <option value="3">Quarter 3</option>
                    <option value="4">Quarter 4</option>
                </select>

                <label asp-for="WeatherEvents"></label>
                <select name="weatherevent" id="weatherevent" class="form-control cstm-select">
                    <option disabled selected value="0"> -- select an option -- </option>
                    @foreach (var weatherEvent in Model.WeatherEvents.OrderBy(s => s))
                    {
                        <option value="@weatherEvent">@weatherEvent</option>
                    }
                </select>

                <label asp-for="WeatherSeverities"></label>
                <select name="weatherSeverity" id="weatherSeverity" class="form-control cstm-select">
                    <option disabled selected value="0"> -- select an option -- </option>
                    @foreach (var weatherSeverity in Model.WeatherSeverities.OrderBy(s => s))
                    {
                        <option value="@weatherSeverity">@weatherSeverity</option>
                    }
                </select>
                
                <label asp-for="MatchWeatherConditions"></label>
                <select name="matchingWeatherConditions" id="matchingWeatherConditions" class="form-control cstm-select2">
                    <option value="false">False</option>
                    <option value="true">True</option>
                </select>
                
                <div class="row" style="padding-top: 5em;">
                    <div class="col-12">
                        <button id="btnReset" type="reset" class="btn btn-warning">Reset</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                </div>
                
            </form>
        </div>
    </div>
</div>


@section Styles {
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <style scoped>
        body {
            width: 100vw;
            height: 100vh;
            margin: 0;
        }

        #container {
            width: 100%;
            height: 100%;
        }

        form .error {
            color: #ff0000;
        }
    </style>
}

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function($) {


            // Initialize form validation on the registration form.
            // It has the name attribute "registration"
            var validator = $("form[name='probabilitiesForm']").validate({
                // Specify validation rules
                rules: {
                    // The key name on the left side is the name attribute
                    // of an input field. Validation rules are defined
                    // on the right side
                    state: {
                        notEqual: 0
                    }
                },
                // Specify validation error messages
                messages: {
                    state: "Please select a State"
                },
                // Make sure the form is submitted to the destination defined
                // in the "action" attribute of the form when valid
                submitHandler: function (form) {
                    form.submit();
                }
            });

            $(".cstm-select2").select2({
                multiple: false
            });

            $(".cstm-select").select2({
                multiple: false
            });

            $("#btnReset").on("click", (e) => {
                e.preventDefault();
                e.stopImmediatePropagation();

                $(".cstm-select").val(0).trigger('change');
                $("#Cities").empty();
                $("#Streets").empty();
                validator.resetForm();
            });

            $("#stateSelect").on("change",
                function() {
                    if (this.value != 0) {
                        $("#Cities").prop("disabled", false);
                        $("#Streets").prop("disabled", false);
                    } else {
                        $("#Cities").prop("disabled", true);
                        $("#Streets").prop("disabled", true);
                    }

                    $("#Cities").empty();
                    $("#Streets").empty();
                });

            $("#Cities").select2({
                ajax: {
                    url: "/graphs/GetStateCities",
                    dataType: 'json',
                    delay: 10,
                    data: function(params) {
                        return {
                            state: $("#stateSelect").val(),
                            search: params.term, // search term
                            page: params.page
                        };
                    },
                    processResults: function(data) {
                        return {
                            results: $.map(data.results,
                                function(item) {
                                    return {
                                        text: item.id,
                                        id: item.text
                                    }
                                }),
                            pagination: data.pagination
                        }
                    },
                    placeholder: 'Search for a repository',
                    minimumInputLength: 3
                }
            });

            $("#Streets").select2({
                ajax: {
                    url: "/graphs/GetStateStreets",
                    dataType: 'json',
                    delay: 10,
                    data: function(params) {
                        return {
                            state: $("#stateSelect").val(),
                            search: params.term, // search term
                            page: params.page
                        };
                    },
                    processResults: function(data) {
                        return {
                            results: $.map(data.results,
                                function(item) {
                                    return {
                                        text: item.id,
                                        id: item.text
                                    }
                                }),
                            pagination: data.pagination
                        }
                    },
                    placeholder: 'Search for a repository',
                    minimumInputLength: 3
                }
            });

        });
    </script>

}
